*,
*::before, 
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.title-container {
    display: flex;
    justify-content: center;
}

.grid-item {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: grey;
    border: 2px solid black
}