*,
*::before, 
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-color: #696d7d;
}


.title-container {
    display: flex;
    justify-content: center;
}

.title-item {
    color: #f0f0f0;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.row-container {
    display: flex;
    flex: 1;
    width: 100%;
}

.grid-container {
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 960px;
    margin: 10px auto;
    overflow: hidden;
}

.button-item {
    padding: 3px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-rgb {
    transition: background-color 3s ease-in-out;
}

.btn-black {
    background-color: black;
    color: white;
}

.grid-item {
    flex: 1;
    height: 100%;
    background-color: grey;
}

